[Desktop Entry]
Type=Application
Version=1.0
Icon=/usr/local/MATLAB/R2019b/matlab.png
Name=MATLAB R2019b
Path=/usr/local/MATLAB/R2019b/bin
Comment=Start MATLAB - The Language of Technical Computing
#Uncomment the following line and comment the line after to
#force matlab to use the 32 bits architecture
#Exec=matlab -arch=glnx86 -desktop
Exec=/usr/local/MATLAB/R2019b/bin/matlab -desktop
Categories=Development;
#Uncomment the following line if you've got several matlab icons in the launcher
#StartupWMClass=com-mathworks-util-PostVMInit
